h1 {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
    margin-top: 5px;
}

.tituloLobos {
    position: absolute;
    width: 277px;
    height: 65px;
    left: 500px;
    top: 1618px;

    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
    margin-top: 5px;
    white-space: nowrap;
}

.cabeca {
    width: 1400px;
    height: 130px;
    background-color: cadetblue;
    border: 1px solid black;

    position: relative;

    display: flex;
    justify-content: space-evenly;
}

.cabeca a { 
    margin-top: 45px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none; 
    color: var(--cor-letra-1); 
    padding: 8px 16px; 
    font-size: 1.75rem; 
    position: relative; 
} 

 .cabeca a::after { 
    content: " "; 
    width: 0%; 
    height: 3px; 
    background-color: var(--cor-letra-1); 
    position: absolute; 
    left: 0; 
    bottom: -3px; 
    transition: 0.5s ease-in-out; 
}

 .cabeca a:hover::after { 
    width: 100%; 
}

.firstDiv {
    width: 1400px;
    height: 500px;
    border: 1px solid black;
}

.imagem {
    width: 1400px;
    height: 500px;
}

.textoFirstDiv {
    position: absolute;
    width: 665px;
    height: 238px;
    left: 370px;
    top: 250px;

    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.textoFirstDiv > h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;
    line-height: 130px;
    text-align: center;
    color: white;
}

.textoFirstDiv > p {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color: white;
}

.adoteUmLobinho {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.adoteUmLobinho::after {
    content: '';
    position: absolute;
    left: 250px;
    bottom: 25px;
    width: 99px;
    height: 5px; 
    background-color: white; 
}

.secondDiv {
    position: absolute;
    width: 1400px;
    height: 333px;
    left: 0px;
    top: 630px;

    background-color: #2C5680;
    border: 1px solid black;

    display: flex;
    flex-direction: column;  
    align-items: center;
}

.secondDiv > p {
    width: 960px;
    height: 166px;
    left: 220px;
    top: 740px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
}

.thirdDiv {
    position: absolute;
    width: 1400px;
    height: 625px;
    left: 0px;
    top: 963px;

    background: #333333;
    border: 1px solid black;

    display: flex;
    flex-direction: column; 
    align-items: center;
}

.itens {
    width: 960px;
    height: 428px;
    left: 219px;
    top: 1073px;

    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: center;
}

.eachItem {
    width: 195px;
    height: 428px;
    left: 219px;
    top: 1073px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    align-items: center;
}

.tituloItens {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;
}

.textoItens {
    width: 195px;
    height: 140px;
    left: 219px;
    top: 1361px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.fourthDiv {
    position: absolute;
    width: 1039px;
    height: 789px;
    left: 180px;
    top: 1723px;

    border: 1px solid black;
}

.firstWolf {
    width: 991px;
    height: 361px;
    border: 1px solid black;
}

.secondWolf {
    width: 991px;
    height: 361px;
    border: 1px solid black;
}

.foot {
    position: absolute;
    width: 1400px;
    height: 275px;
    left: 0px;
    top: 2628px;

    background-color: #353535;
    border: 1px solid black;
}