h1 {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
    margin-top: 5px;
}

.tituloLobos {
    position: absolute;
    width: 277px;
    height: 65px;
    left: 500px;
    top: 1618px;

    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
    margin-top: 5px;
    white-space: nowrap;
}

.cabeca {
    width: 1400px;
    height: 130px;
    background-color: cadetblue;
    border: 1px solid black;

    position: relative;

    display: flex;
    justify-content: space-evenly;
}

.cabeca a { 
    margin-top: 45px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none; 
    color: var(--cor-letra-1); 
    padding: 8px 16px; 
    font-size: 1.75rem; 
    position: relative; 
} 

 .cabeca a::after { 
    content: " "; 
    width: 0%; 
    height: 3px; 
    background-color: var(--cor-letra-1); 
    position: absolute; 
    left: 0; 
    bottom: -3px; 
    transition: 0.5s ease-in-out; 
}

 .cabeca a:hover::after { 
    width: 100%; 
}

.firstDiv {
    width: 1400px;
    height: 500px;
    border: 1px solid black;
}

.imagem {
    width: 1400px;
    height: 500px;
}

.textoFirstDiv {
    position: absolute;
    width: 665px;
    height: 238px;
    left: 370px;
    top: 250px;

    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.textoFirstDiv > h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;
    line-height: 130px;
    text-align: center;
    color: white;
}

.textoFirstDiv > p {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color: white;
}

.adoteUmLobinho {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.adoteUmLobinho::after {
    content: '';
    position: absolute;
    left: 250px;
    bottom: 25px;
    width: 99px;
    height: 5px; 
    background-color: white; 
}

.secondDiv {
    position: absolute;
    width: 1400px;
    height: 333px;
    left: 0px;
    top: 630px;

    background-color: #2C5680;
    border: 1px solid black;

    display: flex;
    flex-direction: column;  
    align-items: center;
}

.secondDiv > p {
    width: 960px;
    height: 166px;
    left: 220px;
    top: 740px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
}

.thirdDiv {
    position: absolute;
    width: 1400px;
    height: 625px;
    left: 0px;
    top: 963px;

    background: #333333;
    border: 1px solid black;

    display: flex;
    flex-direction: column; 
    align-items: center;
}

.itens {
    width: 960px;
    height: 428px;
    left: 219px;
    top: 1073px;

    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: center;
}

.eachItem {
    width: 195px;
    height: 428px;
    left: 219px;
    top: 1073px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    align-items: center;
}

.tituloItens {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;
}

.textoItens {
    width: 195px;
    height: 140px;
    left: 219px;
    top: 1361px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.fourthDiv {
    position: absolute;
    width: 1039px;
    height: 789px;
    left: 180px;
    top: 1723px;

    border: 1px solid black;
}

.firstWolf {
    width: 991px;
    height: 361px;
    border: 1px solid black;
}

.secondWolf {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 991px;
    height: 361px;
    border: 1px solid black;
}

.foot {
    position: absolute;
    width: 1400px;
    height: 275px;
    left: 0px;
    top: 2628px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #353535;
    border: 1px solid black;

    border-top: 6px solid;
    border-image: linear-gradient(to right, hsla(43, 67%, 61%, 1), hsla(210, 49%, 34%, 1)) 1;
}

.mapa {
    position: absolute;
    left: 15.64%;
    right: 66.5%;
    top: 20.36%;
    bottom: 18.55%;
}

.dados {
    position: absolute;
    left: 36.36%;
    right: 36.64%;
    top: 20.36%;
    bottom: 42.55%;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    align-items: flex-start;
}

.local {
    width: 378px;
    height: 30px;
    left: 36.36%;
    right: 36.64%;
    top: 20.36%;
    bottom: 42.55%;
    border: 1px solid white;

    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-start;
}

.tel {
    width: 153px;
    height: 15px;
    left: 36.57%;
    right: 52.5%;
    top: 37.45%;
    bottom: 57.09%;
    border: 1px solid green;

    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-start;
}

.email {
    width: 205px;
    height: 15px;
    left: 36.5%;
    right: 48.86%;
    top: 52%;
    bottom: 42.55%;
    border: 1px solid pink;

    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-start;
}

.local > p {
    left: 38.64%;
    right: 36.64%;
    top: 20.36%;
    bottom: 68.73%;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    color: #FFFFFF;
}

.tel > p {
    left: 38.64%;
    right: 52.5%;
    top: 37.45%;
    bottom: 57.09%;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    color: #FFFFFF;
}

.email > p {
    left: 38.64%;
    right: 48.86%;
    top: 52%;
    bottom: 42.55%;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
}

.patas {
    position: absolute;
    left: 76.79%;
    right: 15.79%;
    top: 32%;
    bottom: 30.18%;
}

.btn {
    width: 144px;
    height: 30px;
    background-color: hsla(43, 67%, 61%, 1);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #000;

    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 5px;

    position: absolute;
    left: 36.57%;
    right: 53.14%;
    top: 70.55%;
    bottom: 18.55%;

    background: #DEB959;
}

.btn:hover {
    cursor: pointer;
    border: 3px solid #000;
}

h3 {
    position: absolute;
    left: 76.14%;
    right: 15.36%;
    top: 20.36%;
    bottom: 70.91%;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    flex-wrap: nowrap;

    color: #FFFFFF;
}